h4 {
    margin-bottom: 40px;
}
.table-name {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    margin-bottom: 8px;
}
.sources-table {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid black;
}
.text {
    font-family: 'Merriweather', serif;
    font-weight: 200;
}